* {
  box-sizing: border-box;
  padding: 0;
}
body {
  background-image: url("../img/M4-desafio1-fondo.png");
  height: 100vh;
  vertical-align: middle;
}
div {
  text-align: center;
  width: 50%;
  height: 500px;
  margin: auto;
  padding: 20px;
  background-image: url("../img/M4-desafio1-fondo-form.png");
}
h1 {
  color: #04146c;
  font-size: 33px;
  font-weight: 700;
}

form {
  width: 600px;
  height: 400px;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  background-color: white;
}
input,
button {
  width: 500px;
  height: 50px;
  color: #414166;
  font-size: 22px;
  font-weight: 400;
  margin: 3px;
}
button {
  background-color: #15163d;
  color: white;
  border: none;
}
